{% extends 'base.html' %}

{% block content %}
   
<div class="container-fluid">

    <h1 class="display-1">{% block title %} Meraki-Auto {% endblock %}</h1>
    <p ></p>
    <p></p>
    <div class="card text-bg-success mb-3" style="max-width: 30rem;">
        <div class="card-header">About</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
            
            This is a website for performing mass modifications and configurations on networks with Cisco Meraki equipment. It is currently in an early development phase.

          </p>

          <p class="card-text">
            
            In order to run this you will need to use Python 3.12 or higher with the following libraries installed:
            <pre>{{ content }}</pre>
          </p>

          <p class="card-text">
            
            You will also need to activate API access in the Meraki Dashboard (you can follow <a href="https://documentation.meraki.com/General_Administration/Other_Topics/Cisco_Meraki_Dashboard_API">these instructions</a> to obtain the API_KEY).

          </p>

        </div>
      </div>
      

</div>





{% endblock %}
