<html> 
   <head> 
      <title>success</title> 
   </head> 
   <body> 
      <p>Fichero cargado correctamente</p> 
      <p>Nombre de fichero: {{name}}</p> 

      <table>
         <caption>Datos de WIFI</caption>
         <tr>
           <td>Sede:</td>           <td>{{info_network_v}}</td>
         </tr>
         <tr>
           <td>Red WIFI (SSID):</td>           <td>{{info_ssid_v}}</td>
         </tr>
         <tr>
            <td>Red visible:</td>           <td>{{info_ssid_visibility_v}}</td>
          </tr>
          <tr>
            <td>Acceso WIFI:</td>           <td>{{info_ssid_access_v}}</td>
          </tr>
          <tr>
            <td>Seguridad WIFI:</td>           <td>{{info_ssid_security_v}}</td>
          </tr>
          <tr>
            <td>PSK WIFI:</td>           <td>{{info_ssid_password_v}}</td>
          </tr>
          <tr>
            <td>DNS:</td>           <td>{{info_ssid_dns_v}}</td>
          </tr>
          <tr>
            <td>Firewall Rule Policy:</td>           <td>{{info_ssid_fw_rule_policy_v}}</td>
          </tr>
          <tr>
            <td>Firewall Rule Protocol:</td>           <td>{{info_ssid_fw_rule_protocol_v}}</td>
          </tr>
          <tr>
            <td>Firewall Rule Destination:</td>           <td>{{info_ssid_fw_rule_destination_v}}</td>
          </tr>
          <tr>
            <td>Firewall Rule Port:</td>           <td>{{info_ssid_fw_rule_port_v}}</td>
          </tr>
          <tr>
            <td>Firewall Rule Comment:</td>           <td>{{info_ssid_fw_rule_comment_v}}</td>
          </tr>
       </table>

       <form action = "/upload" method = "post" enctype="multipart/form-data">   
         <input type = "submit" value="Configure Meraki Auto!">   
       </form>   


   </body> 
</html>
